body{
  background: #303030;
}

.App {
  text-align: center;
  background: #303030;
  color:rgb(253, 169, 0);
}

.img {
  box-shadow: 5px 10px 8px #000000;
}

@media screen and (max-width: 500px) {
  .img{
    width: 30vw!important;;
  }
  .pergunta{
    font-size: 10vw!important;
  }
  .animeInfo{
    width: 50vw!important;
    margin-right: 10vw;
  }
}

a:link {
  text-decoration: none;
  color:#fff;
}

a:visited {
  text-decoration: none;
  color:#fff;
}

a:hover {
  text-decoration: underline;
  color:#fff;
}

a:active {
  text-decoration: underline;
  color:#fff;
}